@charset "utf-8";
/* CSS Document */
header
{
    top: 0;
	width: 100%;
	margin-bottom: 30px;
	position: fixed;
	
}

header img 
{
	width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
	margin-left: 80px;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	
}

body
{ 
	margin-top: 201px; 
}

.titre
{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
	color: #008080;

}

#conteneur
{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-right: 30px;
	margin-left: 30px;
}

.plat p
{
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: black;
   
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: none;
   color: #008080;
}





