@charset "utf-8";
/* CSS Document */

header {
	display: flex;
	top: 0;
	width: 100%;
	margin-bottom: 30px;
	position: fixed;
}

header img {
	width: 100%;
	align: center;
}

.navigation {
	display: flex; /* Transformation en flexbox */
	padding: 0; /* Suppression des marges internes */
	margin: 0px;
	background-color: #008080; /* Ajout de la couleur d'arrière-plan */
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
}

.navigation li {
	list-style-type: none; /* Suppression des puces */
}

.navigation a {
	display: block; /* Transformation en block */
	min-width: 220px; /* Largeur minimale des liens */
}

.navigation a {
	display: block; /* Transformation en block */
	min-width: 220px; /* Largeur minimale des liens */
	margin: 0rem; /* Marges externes (1 valeurs = 4 directions) */
	padding: 0.4rem 0; /* Marges internes (2 valeurs = haut/bas et gauche/droite) */
	text-align: center; /* Centrage du texte */
	background-color: #008080; /* Couleur d'arrière-plan */
	color: #fff; /* Couleur du texte */
	text-decoration: none; /* Suppression du soulignement */
	border: 0px solid #fff; /* Ajout d'une bordure */
	border-radius: 0px; /* Arrondis des bordures */
}

.navigation {
	display: flex; /* Transformation en flexbox */
	padding: 0; /* Suppression des marges internes */
	background-color: #008080; /* Ajout de la couleur d'arrière-plan */
	justify-content: center/* Alignements des liens dans le menu */
}

.navigation a:hover {
	background-color: #80c0c0;
	color: #008080;
	border-color: #008080;
}

body {
	margin-top: 201px;
}

.titre {
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
	color: #008080;
}

#conteneur {
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-content: center;

}

.plat p {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}

a /* Liens par défaut (non survolés) */
{
	text-decoration: none;
	color: black;
}

a:hover /* Apparence au survol des liens */
{
	text-decoration: none;
	color: #008080;
}

footer
{
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	background-color: #008080;
	padding: 20px;
	color: #ffffff;
	font-weight: 8px;
}
