@charset "utf-8";
/* CSS Document */

header {
	width: 100%;
	margin-bottom: 70px;
}

header img {
	width: 100%;
}

#conteneur {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.menu p {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 40px;
	margin-top: 10px;
}

.plat p {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}

p {
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	margin-left: 20px;
	style: bold;
}

a /* Liens par défaut (non survolés) */
{
	text-decoration: none;
	color: black;
}

a:hover /* Apparence au survol des liens */
{
	text-decoration: none;
	color: #008080;
}

footer
{
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	background-color: #008080;
	padding: 20px;
	color: #ffffff;
	font-weight: 8px;
}
